{%extends 'base.html'%}

{%block title %}
{{user.username}}'s Account
{% endblock %}

{%block content %}



<div class="container py-5" >

    <!-- <h1>{{name}}'s Account</h1> -->

    <!-- Account information -->
    <div class="row">
        <h2> Account information </h2>
        <div class="col-lg-12">
            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form method='POST' action='/change_password'>
                        {{password_form.csrf_token()}}
                        <!-- Form Group (current password)-->
                        <div class="mb-3">
                            {{password_form.current_password.label(class="small mb-1")}}
                            {{password_form.current_password(class="form-control")}}
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="newPassword">New Password</label>
                            {{password_form.new_password.label(class="small mb-1")}}
                            {{password_form.new_password(class="form-control")}}
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                            {{password_form.confirm_password.label(class="small mb-1")}}
                            {{password_form.confirm_password(class="form-control")}}
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>

            <!-- Change email card-->
            <div class="card mb-4">
                <div class="card-header">Change Email</div>
                <div class="card-body">
                    <form method='POST' action='/change_email'>
                        {{email_form.csrf_token()}}
                        
                        <div class="row">
                            <div class="col-md-auto" style="margin-bottom:0.5rem">
                              <p class="mb-0">Current Email:</p>
                            </div>
                            <div class="col-md-auto">
                              <p class="text-muted mb-0">{{user['email']}}</p>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{email_form.email(class="form-control", placeholder="Enter new email")}}
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>

            <!-- Change Username card-->
            <div class="card mb-4">
                <div class="card-header">Change Username</div>
                <div class="card-body">
                    <form method='POST' action='/change_username'>
                        {{username_form.csrf_token}}
                        <div class="row">
                            <div class="col-md-auto" style="margin-bottom:0.5rem">
                              <p class="mb-0">Current Username:</p>
                            </div>
                            <div class="col-md-auto">
                              <p class="text-muted mb-0">{{user['username']}}</p>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{username_form.username(class="form-control", placeholder="Enter new Username")}}
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>

                    </form>
                </div>
            </div>

             <!-- Change educational background card-->
             <div class="card mb-4">
                <div class="card-header">Change your educational background</div>
                <div class="card-body">
                    <form method='POST' action='/change_educational_background'>
                        {{education_form.csrf_token()}}
                        <div class="row">
                            <div class="col-md-auto" style="margin-bottom:0.5rem">
                              <p class="mb-0">Current Educational background:</p>
                            </div>
                            <div class="col-md-auto">
                              <p class="text-muted mb-0">{{user['education']}}</p>
                            </div>
                        </div>
                        <!-- Form Group (education_background)-->
                        <div class="mb-3">
                            {{education_form.eduback.label(class="small mb-1")}}
                            {{education_form.eduback(class="form-control")}}
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>

            <!-- Change real name card-->
            <div class="card mb-4">
            <div class="card-header">Change your name</div>
            <div class="card-body">
                <form method='POST' action='/change_real_name'>
                    {{real_name_form.csrf_token()}}
                    <div class="row">
                        <div class="col-md-auto" style="margin-bottom:0.5rem">
                          <p class="mb-0">Your full name:</p>
                        </div>
                        <div class="col-md-auto">
                          <p class="text-muted mb-0">{{user['real_name']}}</p>
                        </div>
                    </div>
                    <!-- Form Group (real_name)-->
                    <div class="mb-3">
                        {{real_name_form.real_name.label(class="small mb-1")}}
                        {{real_name_form.real_name(class="form-control")}}
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>

            

        </div>

    </div>


</div>



<div class="container py-5" >

    <!-- Type selector: Skill/motivation-->
    <div class="row">
        <h2> Skills and Motivations </h2>
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-header">Select either Skill or motivation</div>
                <div class="card-body">
                    <form method='POST', action='/get_sets' id='type_selector_form'>
                        <!--Onload and onchange use val to populate selector_options-->
                        {{ type_selector.options(id="type_selector", class="form-select")}}
                    </form>
                </div>
          </div>
        </div>
    </div>


    <!-- Motivations and Skills -->
    <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-header">Select <span id='para_sel_type'></span> <span>to edit</span></div>
                <div class="card-body">
                <form method='POST' action='/get_competences_of_set' id='instance_selector'>
                        <!--Instance selector. Populated by Javascript, based on type_selector choice-->
                        {{set_selector.options(id="instance_options", class="form-select")}}
                        {{set_selector.parent_id(id="instance_options_parent_type")}}
                </form>
                </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-header">Create new: <strong id='para_sel_type2'><strong></div>
            <div class="card-body">
                <form method='POST' action='/create_set' id='create_set_form'>
                    <div class="mb-3">
                        {{create_set_form.name(class="form-control", placeholder="Desired name")}}
                        {{create_set_form.set_type(id="create_set_form_type_id")}} <!--type='hidden'-->
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
          </div>
        </div>
    </div>

    <h4 id='respbody'>default</h4>


    <!-- add competency -->
    <div class="row">

        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-header">Add new </div>
            <div class="card-body">
                <form method='POST' action='/create_competence' id='create_competence_form'>
                    <div class="mb-3">
                        {{create_comp_form.text(class="form-control", placeholder="text..", id="create_comp_form_text_id")}}
                        {{create_comp_form.competenceset_id(id="create_comp_form_parent_id")}} <!--type="hidden"-->
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
          </div>
        </div>
    </div>


    <div class="card-body" id='competency_container' name='competency_container'>

        <!-- Container for competencies..-->
         
    </div>





</div>


<script>
    

    // Actions that will invoke an async response 
    const actions = ['/get_sets', '/get_competences_of_set', '/create_set', '/create_competence', '/delete_competence']   

    // This function controls what will happen when a form is submitted.
    function form_controller(){
        $(document).on('submit', 'form', function(e) {

            var url = $(this).attr("action"); // send the form data here.
            alert(url)

            if (actions.includes(url)){
                // Cheskcs before in some cases?
                e.preventDefault(); 
                
                $.ajax({

                    type: "POST",
                    url: url,
                    data: $('#' + $(this).attr('id')).serialize(),
                    
                    success: function (data) {
                        
                        if (data['message']['category'] == 'error'){
                            // Its an error so dont do annything with the data
                        }

                        else if (url == '/get_sets'){
                            typeChoice(data['payload'])
                        } 

                        else if (url == '/get_competences_of_set'){
                            document.getElementById('create_comp_form_parent_id').value = document.getElementById('instance_options').value
                            get_competences(data['payload'])
                        }

                        else if (url == '/create_set'){
                            add_to_instance_selector(data['payload'])
                        }

                        else if (url=='/create_competence'){
                            if (data['payload']['id'] == -1){
                                alert('you need to choose set first.') 
                            }
                            else {
                                add_to_competence_box(data['payload']);
                            }
                        }
                        else if (url=='/delete_competence'){
                            delete_competence(data['payload']);
                        }
                        
                        // Flash message if message has text
                        if (data['message']['message_text'] != ''){
                            flashMessage(message_category=data['message']['category'], message_text=data['message']['message_text']); 
                        }
                          
                    },

                    error: function (data){
                        // handle error
                        alert('Some error occured, try again later')
                    }

                });
            }
        });

        // Manually attach csrf token on async requests.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    }


    // Establish listeners and does stuff once everything is ready.
    window.addEventListener("load", function() {

        // Sets up form controler
        form_controller();

        //page Load CALLS
        request_submit('type_selector_form');


        // Onchange and listeners
        document.getElementById("type_selector").onchange = function() {
            request_submit("type_selector_form") 
        }

        //get elements of set
        document.getElementById("instance_options").onchange = function() {
            request_submit("instance_selector")
        }

    });

    //Submits a form by id.
    function request_submit(elem_id){
        document.getElementById(elem_id).requestSubmit();
    };

    // Creates complex HTML templates based on specified structure.
    function element_injection_factory(target, elem_list, elem_nesting, elem_attributes, elem_content){
        // Target = place in the dom the elements will be placed. List 
        // elem_list = list of the element 'names' e.g 'div', 'p'. List
        // elem_nesting is the relative nesting of the elements. List
        // elem_attributes is the attributes of each element. List[elem_list.length, number_of_attributes_of_lement, 2]
        // where the last dimension values corresponds to attribute name, attribute value.
        //elem_content is the content of the element. List
        html_elems = [];
        for (let i = 0; i < elem_list.length; i++){
            //build element
            //add element in order of index
            var elem = document.createElement(elem_list[i])

            for (let j = 0; j < elem_attributes[i].length; j++){
                elem.setAttribute(elem_attributes[i][j][0], elem_attributes[i][j][1])
            }
            if (elem_content[i] != 0){
                elem.textContent = elem_content[i];
            }
            html_elems.push(elem); 
        }
        for (let i = 0; i < html_elems.length; i++){
            if (elem_nesting[i] == 'r'){
                target.appendChild(html_elems[i]);
            }
            else{
                html_elems[elem_nesting[i]].appendChild(html_elems[i]);
            }
        }
    };


    //get_sets to selector_options
    function typeChoice(data) {

        var current_type = document.getElementById('type_selector')

        // Value of Create_set_type = current_type
        document.getElementById('create_set_form_type_id').value = current_type.value;
        // Value instance selector = current_type
        document.getElementById('instance_options_parent_type').value = current_type.value;

        //HTML Spans
        document.getElementById('para_sel_type').innerText = current_type.options[current_type.selectedIndex].text;
        document.getElementById('para_sel_type2').innerText = current_type.options[current_type.selectedIndex].text;


        var select = document.getElementById('instance_options') 
        while (select.options.length > 0) {
            select.remove(0);
        }

        let option;

        for (let i = 0; i < data.length; i++) {
            option = document.createElement('option');
            option.text = data[i]['name'];
            option.value = data[i]['id'];
            select.appendChild(option);
        }

        // Value of competence creater parent(the current set) id = the current set id
        document.getElementById('create_comp_form_parent_id').value = document.getElementById('instance_options').value

        //Clear competency contrainer
        document.getElementById('competency_container').innerHTML = '';
    };

    //Create_new_set
    function add_to_instance_selector(data){

        var select = document.getElementById('instance_options') 
        let option;
        // Append new instance to instance_selector
        option = document.createElement('option');
        option.text = data['name']
        option.value = data['id']
        select.appendChild(option);

    };

    // Get competences of current set.
    function get_competences(data){
        container = document.getElementById('competency_container');

        // Clear container
        container.innerHTML = '';

        for (let i = 0; i < data.length; i++) {
            element_injection_factory(document.getElementById('competency_container'),
                                        ['form', 'div', 'input','input', 'p', 'button'],
                                        ['r', 0, 1, 1, 1, 1],

                                        [[['method', 'POST'], ['action', '/delete_competence'], ['id', 'delete_object'+data[i]['id']]],
                                        [['class','btn-group']], 
                                        [['value', data[i]['id']], ['name', 'this_comp_id']],
                                        [['value', document.getElementById('instance_options').value], ['name', 'this_comp_set_id']],
                                        [[]], 
                                        [['class', 'btn btn-danger'], ['type', 'submit']]],

                                        [0, 0, 0, 0, data[i]['text'], 'X']
            );
        }

    };

    function delete_competence(data){
        //Delete successfull
        var parent_container = document.getElementById('competency_container');
        var child = document.getElementById('delete_object'+data);
        parent_container.removeChild(child);
    };

    // Create_competence
    function add_to_competence_box(data){

        element_injection_factory(
            document.getElementById('competency_container'),
            ['form', 'div', 'input', 'input', 'p', 'button'],
            ['r', 0, 1, 1, 1, 1],

            [[['method', 'POST'], ['action', '/delete_competence'], ['id', 'delete_object'+data['id']]],
            [['class','btn-group']], 
            [['value', data['id']], ['name', 'this_comp_id']],
            [['value', document.getElementById('instance_options').value], ['name', 'this_comp_set_id']],
            [[]], 
            [['class', 'btn btn-danger'], ['type', 'submit']]],

            [0, 0, 0, 0, data['text'], 'X']
        );
    };


</script>
{% endblock %}
 





